<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
</head>
<body>
<h1>Pending User Tasks</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Variables</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}"></td>
        <td>
            <ul>
                <li th:each="var : ${task.variables.entrySet()}"
                    th:text="${var.key + ' = ' + var.value}"></li>
            </ul>
        </td>
        <td>
            <a th:if="${task.variables.approved == false}" th:href="@{/task/user/confirm/{id}(id=${task.id})}">Confirm</a>
            <a th:if="${task.variables.approved == true}" th:href="@{/task/user/confirm/{id}(id=${task.id})}">Pay</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
